<!doctype html>
<html>
<title>StaticProject</title>

<link rel="stylesheet" type="text/css" href="../static/Style.css">
<link rel="shortcut icon" href="">

<body>
	<header>
		<div class="logo">
		<img src="../galaries/images (2).png">

	
</div>
</header>
		
			<nav>

		<ul>
			
			<li><a href="#">Home</a></li>

			<li><a href="https://www.youtube.com/watch?v=x7B60SG_Mtw">Videos</a></li>

			<li><a href="#">Blogs</a></li>

			<li><a href="Contact Us.html">Contact Us</a></li>

			<li><a href="#">More</a></li>

		</ul>
	</nav>
	
<div class="SliderFrame1">
	<div class="Title">

		<h1><u>Mountain Travellers</u></h1>
		
		<a href="#" class="btn">Hike Blogs</a>
		
	</div>
	
</div>
</div>

<section class="Members">
<div class="aboutcol">
		<p><img src="../galaries/b1.jpg" height="500px;"></p>
		<h2>Slow Walker</h2>
		<H3>Bhupin Baral</H3>
		<h6>Manager/Founder</h6>
		
	
	</div>

	<div class="aboutcol">
		<p><img src="../galaries/bm2.jpg" height="500px;"> </p>
		<h2>Speedometer</h2>
		<h3>Rajan Gurung</h3>
		<h6>Co-Founder</h6>
		
		
	</div>

	<div class="aboutcol">
		<p><img src="../galaries/bm3.jpg" height="500px;"> </p>
		<h2>Fast Climber</h2>
		<h3>Amit Dahit</h3>
		<h6>Core Member</h6>

		
	</div>

	<div class="aboutcol">
		<p><img src="../galaries/bm4.jpg" height="500px;"> </p>
		<h2>Carier</h2>
		<h3>Sujan Thapa Magar</h3>
		<h6>Core Member</h6>
		
	</div>
	</section><br>


	<div class="SliderFrame2">
		
	</div>

<div class="SliderFrame3">
	
</div>



</body>
</html>